{% extends 'layout.html' %} {% block body %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<section class="content-header">
	<h1>Dashboard</h1>
	<ul class="breadcrumb">
		<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Dashboard</li>
	</ul>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-green">
					<i class="fa fa-users"></i>
				</span>
				<div class="info-box-content">
					<div class="info-box-text">
						Stat A
					</div>
					<div class="info-box-number">
						99
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="info-box">
				<span class="info-box-icon bg-yellow">
					<i class="fa fa-user-plus"></i>
				</span>
				<div class="info-box-content">
					<div class="info-box-text">
						Stat B
					</div>
					<div class="info-box-number">
						12451.5
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Pending orders</h3>
				</div>
				<div class="box-body table-responsive no-padding">
					Info here..
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}